card.css

.card {
	background: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba) ---- URL
	height: 250px;
	background-seze: cover;
	position: relative;
	color: white;
}


.card.img {
	position: absolute;
	top: 10px;
	right: 10px;
}

.card-tag 


.card